*{
  font-family: Helvetica, Arial, sans-serif;

}

h3{
  color: rgb(250, 82, 118);
  font-size: xx-large;
}

body{
  padding: 60px;
  background-color: rgb(184, 255, 255);
}

input {
  color: blue;
  font-size: 1.2rm;
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 1px;
  margin-right: 1px;
  overflow: hidden;
  width: 9%;
  height: 100%;
}

.card p{
  padding: 1px;
  text-align: center;
}
.card img{
  max-height: 100px;
}

.card-grid{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}